body {
  font-family: "lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #FF0000;
}
nav li:last-child a:hover {
  background-color: #b23301;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #FF0000;
}

section.hero {
  background: #f8f8f8;
}

.size {
  background: #f8f8f8;
}

.add-to-cart {
  border: 2px solid #FF0000;
  color: #FF0000;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #FF0000;
  border-color: #fff;
  color: #fff;
}
