@import 'variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';


body {
  font-family: 'lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark-colar;
 
}
nav li:last-child a {
  background: $primary-colar;
  &:hover {
    background-color: $primary-hover-colar;
  
}
}

nav li a{
  transition: $smooth;
    &:hover {
  color: $primary-colar;
}
};
section.hero{
  background: $secondary-colar;
};
.size{
  background: $secondary-colar;
};
.add-to-cart{
  border: 2px solid $primary-colar;
  color: $primary-colar;
  transition: $smooth;
  &:hover {
    background: $primary-colar;
    border-color: $pure-colar;
    color: $pure-colar;
  }

  &:focus {
    outline: none;}
 
};
.btn-primary {
  background: $primary-colar;
  transition: $smooth;
  &:hover {
    background: $primary-hover-colar;
}
};

section.cart{
  background: $secondary-colar;
  .amount{
    color: $primary-colar;
  }
};

section.login {
  background: $secondary-colar;
  min-height: calc(100vh - 86px);
  a{
    color: $primary-colar;
    &:hover {
      color: $primary-hover-colar
         }
 }
};
section.Register {
  background: $secondary-colar;
  min-height: calc(100vh - 86px);
  a{
    color: $primary-colar;
    &:hover {
      color: $primary-hover-colar
         }
 }
 
};

.noty_theme__mint {
 
  border-radius: 50px!important;

  padding-left: 8px!important;
}

a.link {
  
  color: $primary-colar;

}
